@import url("../global.less");

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 44px;
  background-color: #68b738;
  font-family: @font-title;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &--select-program {
    width: 280px;
  }
}
