@import url("../global.less");

.button-diet {
  width: 139px;
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 0;
  padding-right: 42px;
  background-color: inherit;
  font-family: @font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
