@import url("../global.less");

.contact {
  padding: 26px 0;
  display: flex;

  &__partnership {
      width: 139px;
      padding: 0;
      padding-right: 20px;
      margin: 0;
      font-family: @font-title;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      text-align: left;
    }

    &__address {
      width: 139px;
    }

    &__address-street {
      padding: 0;
      margin: 0;
      text-align: left;
      line-height: 20px;
    }

    &__address-city {
      padding: 0;
      margin: 0;
      text-align: left;
      line-height: 20px;
    }
}
