@import url("../global/global.less");

.contact {
  padding: 24px 0;

  &--catalog {
    background-color: @second-color;
  }
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  width: @mobile-container-width;
  margin: 0 auto;
}

.contact__partnership {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0;
  margin: 0;
  .set-font (@font-family: @font-title; @font-size: 16px; @font-weight: 400; @line-height: 20px; @color: @second-title-color);
  text-align: left;
  text-transform: uppercase;
}

.contact__address {
  grid-column: 2/3;
  grid-row: 1/2;
}

.contact__address-street {
  padding: 0;
  margin: 0;
  text-align: left;
  .set-font(@font-family: @font-text; @font-size: 14px; @font-weight: 400; @line-height: 20px; @color: @main-text--color);
}

.contact__address-city {
  padding: 0;
  margin: 0;
  text-align: left;
  .set-font(@font-family: @font-text; @font-size: 14px; @font-weight: 400; @line-height: 20px; @color: @main-text--color);
}

@media (min-width: @tablet-width) {
  .contact {
    padding-top: 57px;
    padding-bottom: 61px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .contact__container {
    width: 628px;
    column-gap: 296px;
    grid-template-columns: 172px 160px;
  }

  .contact__partnership {
    .set-font(@font-family: @font-title; @font-size: 20px; @font-weight: 400; @line-height: 26px; @color: @second-title-color);
    padding-top: 3px;
  }

  .contact__address {
    display: flex;
    flex-direction: column;
  }

  .contact__address-street {
    text-align: right;
    .set-font(@font-family: @font-text; @font-size: 16px; @font-weight: 400; @line-height: 20px; @color: @main-text--color);
    margin-bottom: 18px;
  }

  .contact__address-city {
    text-align: right;
    .set-font(@font-family: @font-text; @font-size: 16px; @font-weight: 400; @line-height: 20px; @color: @main-text--color);
  }
}

@media (min-width: @desktop-width) {
  .contact {
    box-sizing: border-box;
    padding-top: 58px;
    padding-right: 60px;
    padding-bottom: 56px;
    padding-left: 80px;
    width: 565px;
    background-color: @main-color;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
  }

  .contact__container {
    margin: 0;
    width: 100%;
    column-gap: 87px;
    grid-template-columns: 163px 175px;
  }

  .contact__partnership {
    .set-font(@font-family: @font-title; @font-size: 20px; @font-weight: 400; @line-height: 26px; @color: @second-title-color);
  }

  .contact__address-street {
    text-align: left;
  }

  .contact__address-city {
    text-align: left;
  }
}
