@import url("../global/global.less");

.contact {
  padding: 26px 0;

  &--catalog {
    background-color: #f2f2f2;
  }
}

.contact__container {
  display: flex;
  width: @mobile-container-width;
  margin: 0 auto;
}

.contact__partnership {
  width: 139px;
  padding: 0;
  padding-right: 20px;
  margin: 0;
  .set-font--contact__partnership();
  text-align: left;
}

.contact__address {
  width: 139px;
}

.contact__address-street {
  padding: 0;
  margin: 0;
  text-align: left;
  .set-font--contact__address-street();
}

.contact__address-city {
  padding: 0;
  margin: 0;
  text-align: left;
  .set-font--contact__address-street();
}

@media (min-width: @tablet-width) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    width: @tablet-container-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contact__container {
    display: flex;
    width: 425px;
    margin: 0;
  }

  .contact--catalog {
    width: 565px;
    box-sizing: border-box;
    background-color: @main-color;
    padding-top: 60px;
    padding-bottom: 56px;
    padding-left: 80px;
    padding-right: 60px;
  }

  .contact__partnership {
    box-sizing: border-box;
    padding: 0;
    width: 163px;
    margin-right: 87px;
  }

  .contact__adress {
    width: 175px;
  }
}
