@import url("../global/global.less");

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: @mobile-container-width;
  text-decoration: none;
  .set-font--copyright__link();
}
