@import url("../global/mixins.less");

.diet-type__list {
  .list-reset();
  width: 100%;
}

.diet-type__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .diet-type__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .diet-type__list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }

  .diet-type__item:not(:last-child) {
    margin-bottom: 0;
  }
}
