@import url("../global/global-var.less");
@import url("../global/mixins.less");

.diet__container {
  width: 227px;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px #d9d9d9 solid;
}

.diet__title {
  box-sizing: border-box;
  width: 227px;
  padding: 0;
  margin: 0;
  padding-left: 69px;
  padding-right: 10px;
  margin-bottom: 29px;
  .set-font--diet__title ();
  text-align: left;
  text-transform: uppercase;
}

.diet__description {
  padding: 0;
  margin: 0;
}
