@import url("../global/global.less");

.diet__container {
  width: 227px;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px @section-border-color solid;
}

.diet {
  background-color: @second-color;
  padding-left: 20px;
  padding-right: 33px;
  padding-top: 30px;
  padding-bottom: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: @accent-color;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 22px;
    border-radius: 50%;
  }

  &--slim::after {
    content: "";
    background-image: url("../img/icons/stack.svg#cat-slim");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 53px;
    width: 50px;
    height: 53px;
    position: absolute;
    top: 22px;
    left: 21px;
  }

  &--pro::after {
    content: "";
    background-image: url("../img/icons/stack.svg#cat-pro");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 67px 50px;
    width: 67px;
    height: 50px;
    position: absolute;
    top: 24px;
    left: 13px;
  }
}


.diet__title {
  padding: 0;
  margin: 0;
  padding-left: 69px;
  padding-right: 10px;
  margin-bottom: 29px;
  .set-font(@font-family: @font-title; @font-size: 24px; @font-weight: 400; @line-height: 37px; @color: @title-color);
  text-align: left;
  text-transform: uppercase;
}

.diet__description {
  padding: 0;
  margin: 0;
  .set-font(@font-family: @font-text; @font-size: 14px; @font-weight: 400; @line-height: 18px; @color: @main-text--color);
}

@media (min-width: @tablet-width) {
  .diet {
    padding-top: 73px;
    padding-right: 262px;
    padding-bottom: 53px;
    padding-left: 53px;

    &::before {
      background-size: 200px 200px;
      width: 200px;
      height: 200px;
      top: 92px;
      left: 446px;
    }

    &--slim::after {
      background-size: 140px 194px;
      width: 140px;
      height: 194px;
      top: 81px;
      left: 476px;
    }

    &--pro::after {
      background-size: 268px 112px;
      width: 268px;
      height: 112px;
      top: 135px;
      left: 412px;
    }
  }

  .diet__container {
    width: 340px;
    padding-right: 254px;
    padding-bottom: 0;
    margin-bottom: 52px;
    border-bottom: none;
  }

  .diet__title {
    padding-left: 0;
    padding-right: 10px;
    margin-bottom: 24px;
    .set-font(@font-family: @font-title; @font-size: 36px; @font-weight: 400; @line-height: 36px; @color: @title-color);
    text-align: left;
    text-transform: uppercase;
  }

  .diet__description {
    .set-font(@font-family: @font-text; @font-size: 16px; @font-weight: 400; @line-height: 24px; @color: @main-text--color);
  }
}


@media (min-width: @desktop-width) {
  .diet {
    padding-top: 77px;
    padding-right: 61px;
    padding-bottom: 55px;
    padding-left: 52px;

    &::before {
      background-size: 100px 100px;
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }

    &--slim::after {
      background-size: 70px 97px;
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
    }

    &--pro::after {
      background-size: 134px 56px;
      width: 134px;
      height: 56px;
      top: 67px;
      left: 33px;
    }
  }

  .diet__container {
    width: 457px;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 27px;
    border-bottom: none;
  }

  .diet__title {
    padding-left: 162px;
    padding-right: 0;
    margin-bottom: 73px;
    .set-font(@font-family: @font-title; @font-size: 36px; @font-weight: 400; @line-height: 36px; @color: @title-color);
    text-align: left;
    text-transform: uppercase;
  }

  .diet__description {
    .set-font(@font-family: @font-text; @font-size: 16px; @font-weight: 400; @line-height: 24px; @color: @main-text--color);
  }
}
