.logo[href] {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon-img {
  display: flex;
}

.logo__title-img {
  display: flex;
  padding-top: 6px;
}

@media (min-width: @tablet-width) {
  .logo__icon-img {
    width: 61px;
  }
}

@media (min-width: @desktop-width) {
  .logo__icon-img {
    width: 71px;
  }

  .logo__title-img {
    padding-top: 0;
    width: 117px;
  }

  .logo__title {
    padding-top: 22px;
  }
}
