.menu-button {
  background-color: inherit;
  border: none;


  &--close {
    background-image: url("../../img/icons/menu-mobile-close.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
  }

  &--open {
    background-image: url("../../img/icons/menu-mobile-open.svg");
    background-size: 24px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
  }
}
