@import url("../global/global.less");

.modal-content {
  padding-top: 27px;
}

.modal-content__title {
  margin: 0;
  margin-bottom: 37px;
}

.modal-content__request {
  margin: 0;
  margin-bottom: 39px;
  width: 226px;
  .set-font(@font-family: @font-title; @font-size: 14px; @font-weight: 400; @line-height: 18px; @color: @title-color);
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .modal-content {
    padding-top: 75px;
  }

  .modal-content__title {
    margin-bottom: 54px;
  }

  .modal-content__request {
    width: 323px;
    margin-bottom: 54px;
    .set-font(@font-family: @font-title; @font-size: 20px; @font-weight: 400; @line-height: 30px; @color: @title-color);
  }
}

@media (min-width: @desktop-width) {
  .modal-content {
    padding-top: 90px;
  }

  .modal-content__title {
    margin-bottom: 56px;
  }

  .modal-content__request {
    margin-bottom: 0;
  }

  .modal-content__title-container {
    margin-bottom: 56px;
  }
}
