@import url("../global/global.less");

.request-form__contact-owner {
  .fieldset-reset();
  width: @container-width;
  margin: 0 auto;
  margin-bottom: 24px;
}

.request-form__comment {
  .fieldset-reset();
  width: @container-width;
  margin: 0 auto;
  margin-bottom: 40px;
}

.request-form__options {
  .fieldset-reset();
  width: @container-width;
  margin: 0 auto;
  margin-bottom: 40px;
}

.request-form__button {
  margin: 0 auto;
  margin-bottom: 21px;
  width: @container-width;
}

.request-form__required {
  width: @container-width;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 32px;
  .set-font--required();
}
