@import url("../global/global.less");

.request-form__contact-owner {
  .fieldset-reset();
  margin-bottom: 24px;
}

.request-form__parameters-container {
  margin-bottom: 26px;
}

.request-form__type-diet {
  .fieldset-reset();
}

.request-form__comment {
  .fieldset-reset();
  margin-bottom: 40px;
}

.request-form__options {
  .fieldset-reset();
  margin-bottom: 40px;
}

.request-form__button {
  margin-bottom: 21px;
}

.request-form__required {
  width: @mobile-container-width;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 32px;
  .set-font--required();
}

@media (min-width: @desktop-width) {
  .request-form__parameters-container {
    display: flex;
  }

  .request-form__parameters {
    width: 569px;
    margin-right: 108px;
  }

  .request-form__type-diet {
    width: 570px;
  }
}
