@import url("../global/global.less");

.result {
  background-color: @section-background-color;
  padding-top: 25px;
  padding-bottom: 40px;
}

.result__container-main {
  margin-bottom: 18px;
}

.result__title {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 43px;
  background-color: inherit;
}

.result__text {
  margin: 0;
  margin-bottom: 19px;
  .set-font(@font-family: @font-text; @font-size: 14px; @font-weight: 400; @line-height: 18px; @color: @main-text--color);
}

.result__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
}

.result__item {
  position: relative;
  width: 124px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.result__number {
  .set-font(@font-family: @font-title; @font-size: 24px; @font-weight: 400; @line-height: 24px; @color: @title-color);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  border: 1px @special-border-color solid;
}

.result__description {
  width: 87px;
  box-sizing: border-box;
  margin: 0;
  margin-top: -12px;
  padding-top: 2px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 14px;
  .set-font(@font-family: @font-text; @font-size: 12px; @font-weight: 400; @line-height: 12px; @color: @main-text--color);
  text-align: center;
  align-self: center;
  background-color: @section-background-color;
}

.result__expenses {
  padding: 0;
  margin: 0;
  .set-font(@font-family: @font-title; @font-size: 14px; @font-weight: 400; @line-height: 20px; @color: @title-color);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .result {
    background: linear-gradient(to bottom, @main-color 55.5%, @second-color 55.5%);
    padding-top: 0;
    padding-bottom: 98px;
  }

  .result__container-main {
    margin-bottom: 91px;
  }

  .result__title {
    width: 100%;
    margin-bottom: 62px;
  }

  .result__text {
    margin-bottom: 53px;
    .set-font(@font-family: @font-text; @font-size: 16px; @font-weight: 400; @line-height: 24px; @color: @main-text--color);
  }

  .result__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .result__list {
    margin-bottom: 0;
    width: 366px;
  }

  .result__item {
    width: 162px;
  }

  .result__number {
    .set-font(@font-family: @font-title; @font-size: 30px; @font-weight: 400; @line-height: 37px; @color: @title-color);
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .result__description {
    padding: 5px 8px;
    margin-top: -14px;
    width: fit-content;
    .set-font(@font-family: @font-text; @font-size: 14px; @font-weight: 400; @line-height: 14px; @color: @main-text--color);
    background-color: @main-color;
  }

  .result__expenses {
    .set-font(@font-family: @font-title; @font-size: 20px; @font-weight: 400; @line-height: 20px; @color: @title-color);
    text-align: right;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 13px;
  }

  .result__expenses-text {
    margin-bottom: 9px;
  }
}

@media (min-width: @desktop-width) {
  .result {
    background: linear-gradient(to bottom, #ffffff 30%, #f2f2f2 30% 100%);
    padding-bottom: 75px;
  }

  .result__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .result__container-main {
    width: 500px;
    margin-bottom: 0;
  }

  .result__title {
    margin-bottom: 146px;
  }

  .result__text {
    margin-bottom: 68px;
    width: 433px;
  }

  .result__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .result__list {
    width: 366px;
    margin-bottom: 49px;
  }

  .result__description {
    background-color: @second-color;
  }

  .result__expenses {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 328px;
    padding-top: 0;
  }

  .result__expenses-text {
    margin-bottom: 0;
    margin-right: 66px;
    max-width: 180px;
  }
}
