@import url("../global/global.less");

.section-title {
  padding: 0;
  box-sizing: border-box;
  .set-font(@font-family: @font-title; @font-size: 36px; @font-weight: 400; @line-height: 36px; @color: @title-color);
  text-align: left;

  &--index {
    .set-font(@font-family: @font-title; @font-size: 36px; @font-weight: 400; @line-height: 40px; @color: @title-color);
  }
}

@media (min-width: @tablet-width) {
  .section-title {
    .set-font(@font-family: @font-title; @font-size: 60px; @font-weight: 400; @line-height: 60px; @color: @title-color);
  }
}
