@import url("../global/global.less");

.social {
  width: @mobile-container-width;
}

.social__list {
  .list-reset();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

@media (min-width: @tablet-width) {
  .social__item:not(:last-child) {
    margin-right: 22px;
  }

  .social {
    width: 132px;
  }

  .social__list {
    justify-content: flex-start;
  }
}
