@import url("../global/global.less");

.type-diet {
  box-sizing: border-box;
  padding-bottom: 25px;
  padding-top: 28px;
  border: 0;
  border-bottom: 1px #d9d9d9 solid;
}

.type-diet__list {
  .list-reset();
  box-sizing: border-box;
}

.type-diet__item:not(:last-child) {
  margin-bottom: 25px;
}

.type-diet__label {
  .set-font--modal-text(@modal-text-type-diet--color);
}

@media (min-width: @tablet-width) {
  .type-diet {
    border: 1px #d9d9d9 solid;
  }
}

@media (min-width: @desktop-width) {
  .type-diet {
    border: 1px #d9d9d9 solid;
  }
}
