.work-principle {
  padding-bottom: 53px;

  &__title {
    margin: 0;
    margin-bottom: 40px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 26px;
  }

  &__description {
    width: 280px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-left: 80px;
    text-align: left;
  }

}
