@import url("../global/global.less");

.work-principle {
  padding-bottom: 53px;
}

.work-principle__title {
  margin: 0;
  margin-bottom: 40px;
}

.work-principle__list {
  .list-reset();
}

.work-principle__item:not(:last-child) {
  margin-bottom: 26px;
}

.work-principle__description {
  width: @container-width;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-left: 80px;
  text-align: left;
}
