//шрифты
@font-title: "Oswald", sans-serif;
@font-text: "Lato", sans-serif;

//ширина экрана mobile
@page-width: 320px;
@container-width: 280px;

//базовая типографика
@main-text--size: 16px;
@main-text--weight: 400;
@main-text--line-height: 18px;
@main-text--color: #444444;

//background-color
@footer-background-color: #f2f2f2;
@button--background-color: #68b738;
@button-show-more--background-color: #f2f2f2;

//button-color
@button--color: #ffffff;
@button-diet--color: #000000;
@button-show-more--color: @main-text--color;

@card-title--color: #222222;
@card-desc--color: @main-text--color;
@option-title--color: #000000;
@option-card-title--color: #222222;
@option-card-package--color: @main-text--color;
@option-bonus-text--color: #ffffff;

@contact-title--color:#111111;
@contact-text--color: @main-text--color;
@copyright-link--color: @main-text--color;
@diet-title--color: #000000;
@main-nav--color: #000000;
@result-number--color: #000000;
@result-desc--color:@main-text--color;
@result-expenses--color: #000000;
@section-title--color: #000000;
@select-title--color: #ffffff;
@select-slogan--color: #ffffff;

@modal-request--color:#000000;
@modal-text--color:@main-text--color;
@modal-text-type-diet--color: #222222;
@modal-fieldset-title--color: #000000;
@modal-text-options--color: #000000;
@modal-text-required--color: #000000;
